---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout>
    <h1>MOODTRACKER</h1>

    <div>
        <p>
            Vos émotions comptent. ✨ Partager votre humeur chaque jour peut
            vous aider à mieux vous comprendre et à trouver un équilibre.
        </p>
        <p>
            💜 Ici, vous pouvez accueillir vos émotions en toute douceur et sans
            jugement.
        </p>
    </div>

    <div></div>
    <div class="my-20">
        <a
            class="bg-[#FCB2D8] text-[#06064F] px-4 py-2 rounded shadow mx-6"
            href="/moodtracker/add">Ajouter une humeur</a
        >
    </div>

    <div>
        <a
            class="bg-[#FCB2D8] text-[#06064F] px-4 py-2 rounded shadow mx-6"
            href="/moodtracker/historique">Accéder à mon historique</a
        >
    </div>
</Layout>
