---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="bg-[#06064F] text-white">
        <div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-4xl font-bold">MyBreathe</h1>
        </div>

        <div>
            <p>Bienvenue sur MyBreathe,</p>
            <p>
                une plateforme d'entraide pour les personnes victimes de
                harcèlement sous toutes ses formes : moral, physique, scolaire,
                de rue, au travail, sexuel ou en ligne. Son objectif est
                d’offrir un espace sûr où chacun peut s’exprimer librement et
                trouver du soutien...
            </p>
            <p>
                Nous sommes un site qui ne se contente pas d’informer, mais qui
                accompagne vraiment la victime avec des outils interactifs et un
                espace rassurant.
            </p>
        </div>

        <div>
            <p>
                Aujourd’hui, le harcèlement est partout : dans les écoles, sur
                les réseaux sociaux, au travail… Il touche des millions de
                personnes et laisse des blessures profondes.
            </p>
            <p>
                Malgré les campagnes de sensibilisation, le harcèlement continue
                de se banaliser, plongeant trop de victimes dans la solitude et
                l’angoisse.
            </p>
        </div>

        <div>
            <p>Ce que nous proposons :</p>
        </div>
    </div>
</Layout>
