---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout>
    <h1>MENTIONS LÉGALES</h1>
    <div>
        <h2>1. Éditeur du site</h2>
        <p>Le site 2BeBetter est édité par :</p>
        <ul>
            <li>span class="font-bold text-[#FCB2D8]"
					>Nom de l’organisation / entreprise :</span> Département MMI de Montbéliard</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</Layout>
