---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import FormContact from "../components/FormContact.astro";
import "../styles/global.css";
---

<Layout>
	<div class="bg-[#06064F] text-white">
		<div class="flex flex-col items-center justify-center h-screen">
			<img
				class="max-w-200"
				src="/src/assets/img/acceuil_personnage1.svg"
				alt=""
			/>
			<h1 class="text-4xl font-bold">2BeBetter</h1>
		</div>

		<div>
			<p class="text-[36px] font-bold mb-8">
				Bienvenue sur <span class="text-[#FCB2D8]">2BeBetter</span>,
			</p>

			<p class="mb-8">
				une <span class="font-bold text-[#FCB2D8]"
					>plateforme d'entraide</span
				> pour les personnes victimes de <span
					class="font-bold text-[#FCB2D8]">harcèlement</span
				> sous toutes ses formes : moral, physique, scolaire, de rue, au
				travail, sexuel ou en ligne.<br />
				Son objectif est d’offrir un <span
					class="font-bold text-[#FCB2D8]">espace sûr</span
				> où chacun peut s’exprimer librement et trouver du <span
					class="font-bold text-[#FCB2D8]">soutien</span
				>…
			</p>
			<p>
				Nous sommes un site qui ne se contente pas d’informer, mais qui
				accompagne vraiment la victime avec des outils interactifs et un
				espace rassurant.
			</p>
		</div>

		<div>
			<p>
				Aujourd’hui, le harcèlement est partout : dans les écoles, sur
				les réseaux sociaux, au travail… Il touche des millions de
				personnes et laisse des blessures profondes.
			</p>
			<p>
				Malgré les campagnes de sensibilisation, le harcèlement continue
				de se banaliser, plongeant trop de victimes dans la solitude et
				l’angoisse.
			</p>
		</div>

		<div>
			<p>Ce que nous proposons :</p>
		</div>
		<div class="lg:max-w-[600px] w-full mx-auto">
			<Carousel />
		</div>

		<div>
			<p>Qui sommes nous ?</p>
		</div>

		<div>
			<img
				class="lg:max-w-[750px] w-full mx-auto"
				src="/src/assets/img/equipe.webp"
				alt=""
			/>
		</div>

		<div>
			<p>FAQ</p>
			<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer
			></script>
			<div
				class="flex w-full flex-col gap-4 text-on-surface dark:text-on-surface-dark"
			>
				<div
					x-data="{ isExpanded: false }"
					class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
				>
					<button
						id="controlsAccordionItemOne"
						type="button"
						class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
						aria-controls="accordionItemOne"
						x-on:click="isExpanded = ! isExpanded"
						x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
						x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
					>
						Comment reconnaître une situation de harcèlement ?
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke-width="2"
							stroke="currentColor"
							class="size-5 shrink-0 transition"
							aria-hidden="true"
							x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</button>
					<div
						x-cloak
						x-show="isExpanded"
						id="accordionItemOne"
						role="region"
						aria-labelledby="controlsAccordionItemOne"
						x-collapse
					>
						<div class="p-4 text-sm sm:text-base text-pretty">
							Quelques signes comme : Répétition des actes
							malveillants, Sentiment d’oppression ou de peur,
							Isolement social, Perte de confiance ou d’estime de
							soi...
						</div>
					</div>
				</div>
				<div
					x-data="{ isExpanded: false }"
					class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
				>
					<button
						id="controlsAccordionItemTwo"
						type="button"
						class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
						aria-controls="accordionItemTwo"
						x-on:click="isExpanded = ! isExpanded"
						x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
						x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
					>
						Que faire si je suis victime ?
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke-width="2"
							stroke="currentColor"
							class="size-5 shrink-0 transition"
							aria-hidden="true"
							x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</button>
					<div
						x-cloak
						x-show="isExpanded"
						id="accordionItemTwo"
						role="region"
						aria-labelledby="controlsAccordionItemTwo"
						x-collapse
					>
						<div class="p-4 text-sm sm:text-base text-pretty">
							Parle à quelqu’un de confiance (ami/e, famille,
							prof, collègue...), Note les faits (dates, messages,
							captures d’écran...), Signale ou porte plainte (à
							l’école, au travail ou auprès des autorités) et/ou
							inscris toi à 2BeBetter. Tu n’es jamais responsable
							du harcèlement que tu subis !
						</div>
					</div>
				</div>
				<div
					x-data="{ isExpanded: false }"
					class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
				>
					<button
						id="controlsAccordionItemThree"
						type="button"
						class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
						aria-controls="accordionItemThree"
						x-on:click="isExpanded = ! isExpanded"
						x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
						x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
					>
						Et si je suis témoin ?
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke-width="2"
							stroke="currentColor"
							class="size-5 shrink-0 transition"
							aria-hidden="true"
							x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</button>
					<div
						x-cloak
						x-show="isExpanded"
						id="accordionItemThree"
						role="region"
						aria-labelledby="controlsAccordionItemThree"
						x-collapse
					>
						<div class="p-4 text-sm sm:text-base text-pretty">
							Ne reste pas silencieux/se, Soutiens la victime,
							Alerte un adulte, un responsable ou les autorités,
							Être témoin, c’est aussi un pouvoir d’agir !
						</div>
					</div>
				</div>
				<div
					x-data="{ isExpanded: false }"
					class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
				>
					<button
						id="controlsAccordionItemTwo"
						type="button"
						class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
						aria-controls="accordionItemTwo"
						x-on:click="isExpanded = ! isExpanded"
						x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
						x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
					>
						Qui contacter en cas d’urgence ?
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke-width="2"
							stroke="currentColor"
							class="size-5 shrink-0 transition"
							aria-hidden="true"
							x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
						</svg>
					</button>
					<div
						x-cloak
						x-show="isExpanded"
						id="accordionItemTwo"
						role="region"
						aria-labelledby="controlsAccordionItemTwo"
						x-collapse
					>
						<div class="p-4 text-sm sm:text-base text-pretty">
							Le numéro national pour les jeunes victimes de
							violences numériques (3018 →gratuit et anonyme),
							Enfants en danger (119), Police / Gendarmerie (17),
							Stop Harcèlement scolaire (3020).
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<p>
				Ensemble, agissons contre le harcèlement. Rejoignez-nous sur
				2BeBetter !
			</p>
		</div>

		<div>
			<a href="/accueil">ACCÉDER AU SITE</a>
		</div>

		<div>
			<p>
				Si vous avez des questions sur notre plateforme, vous pouvez
				nous contacter en remplissant ce formulaire.
			</p>
		</div>

		<div>
			<FormContact />
		</div>

		<div>
			<p>Nos coordonnées :</p>
			<p>Adresse postale :</p>
			<p>4 Place Lucien Tharradin, 25200 Montbéliard</p>
			<p>Adresse mail :</p>
			<p>contact-2bebetter@gmail.com</p>
			<p>Téléphone :</p>
			<p>03.12.34.56.78</p>
		</div>
	</div>
</Layout>
