---

---

<footer class="bg-[#607494] text-white py-12">
    <div
        class="container mx-auto px-4 flex flex-col lg:flex-row lg:justify-between lg:items-start"
    >
        <div class="flex flex-col items-center lg:items-start mb-8 lg:mb-0">
            <img
                src="/logo.png"
                alt="Logo 2BeBetter"
                class="w-16 h-16 rounded-full mb-2"
            />
            <p class="text-2xl font-bold">2BeBetter</p>
        </div>

        <div class="flex flex-col items-center w-full lg:items-end">
            <div
                class="flex flex-col space-y-2 text-center lg:flex-row lg:space-y-0 lg:space-x-6 lg:text-right"
            >
                <a
                    href="/mentions"
                    class="hover:underline hover:text-[#FCB2D8] transition"
                    >Mentions légales</a
                >
                <a
                    href="/politique"
                    class="hover:underline hover:text-[#FCB2D8] transition"
                    >Politique de confidentialité</a
                >
                <a
                    href="/contact"
                    class="hover:underline hover:text-[#FCB2D8] transition"
                    >Nous contacter</a
                >
                <a
                    href="/apropos"
                    class="hover:underline hover:text-[#FCB2D8] transition"
                    >À propos</a
                >
            </div>

            <div class="flex space-x-6 text-2xl pt-4">
                <a
                    href="https://instagram.com"
                    class="hover:text-pink-300 transition"
                >
                    <img
                        src="/src/assets/icones/insta.svg"
                        alt="Icone Instagram"
                    />
                </a>
                <a
                    href="https://facebook.com"
                    class="hover:text-pink-300 transition"
                >
                    <img
                        src="/src/assets/icones/facebook.svg"
                        alt="Icone Facebook"
                    />
                </a>
                <a
                    href="https://tiktok.com"
                    class="hover:text-pink-300 transition"
                >
                    <img src="/src/assets/icones/tiktok.svg" alt="Icone Tiktok">
                </a>
                <a
                    href="https://linkedin.com"
                    class="hover:text-pink-300 transition"
                >
                    <img src="/src/assets/icones/linkedin.svg" alt="Icone LinkedIn">
                </a>
            </div>
        </div>
    </div>
</footer>
