---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import FormTemoignage from "../../components/FormTemoignage.astro";
---

<Layout>
    <h1>TÉMOIGNAGES</h1>

    <div>
        <p>
            Votre voix compte. ✨ Partager votre histoire peut aider d’autres
            personnes à se sentir moins seules et à trouver du soutien.
        </p>
        <p>
            💙 Ici, vous pouvez témoigner librement et en toute bienveillance.
        </p>
    </div>

    <div class="my-20">
        <FormTemoignage />
    </div>
</Layout>
