---
import { connexion } from "../../scripts/backend.mjs";

let error = "";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const email = formData.get("email");
    const password = formData.get("password");

    try {
        const authData = await connexion(email, password);

        return Astro.redirect("/accueil");
    } catch (err) {
        error = "Email ou mot de passe incorrect.";
        console.error("Erreur de connexion :", err);
    }
}
---

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Connexion</title>
    </head>
    <body>
        <h1>Connexion</h1>
        {error && <p style="color:red;">{error}</p>}

        <form method="POST">
            <label for="email">Email :</label><br />
            <input type="email" name="email" id="email" required /><br />

            <label for="password">Mot de passe :</label><br />
            <input type="password" name="password" id="password" required /><br
            /><br />

            <button type="submit">Se connecter</button>
        </form>
    </body>
</html>
